.idea
bin
docs
*cache*
.github
Dockerfile
micall/tests/working
micall/tests/microtest/scratch
micall/tests/microtest/micall-results
micall/tests/microtest/Results
micall/utils/hcv_reference_tree
venv_micall
*.pyc
*/*.pyc
*/*/*.pyc
*/*/*/*.pyc
simgs
