.idea
bin
docs
*cache*
# Needed by install-cached-iva.sh (adopted from 15a2b99)
!install-cached-iva.sh
.github
Dockerfile
micall/tests/working
micall/tests/microtest/scratch
micall/tests/microtest/micall-results
micall/tests/microtest/Results
micall/utils/hcv_reference_tree
venv_micall
.venv
*.pyc
*/*.pyc
*/*/*.pyc
*/*/*/*.pyc
simgs
*~
