[flake8]
ignore = E226,E302,E41
max-line-length = 120
per-file-ignores =
    micall/core/aln2counts.py: W504,E225,E126,W293
    micall/core/amplicon_finder.py: E126,W504
    micall/core/cascade_report.py: W293
    micall/core/filter_quality.py: W504
    micall/core/plot_contigs.py: W504,E501,F841,E231,E261,E262,E265,E302,E303,E305,E999,W291,W292,F401
    micall/core/plot_simple.py: F401,F841,W292
    micall/core/project_config.py: E722,E261
    micall/core/remap.py: F401
    micall/core/sam2aln.py: E128
    micall/core/trim_fastqs.py: W504
    micall/drivers/run_info.py: E225
    micall/g2p/pssm_lib.py: E722
    micall/monitor/find_groups.py: W504
    micall/monitor/kive_watcher.py: W504,E126,E501,W503
    micall/monitor/sample_watcher.py: W503,W504
    micall/monitor/update_qai.py: W503,W504
    micall/resistance/asi_algorithm.py: W504
    micall/resistance/pdfreport.py: E241,W504
    micall/resistance/resistance.py: W504
    micall/tcr/igblast.py: E265,E231,E502,E128,W291,E305
    micall/tests/microtest/make_sample.py: W504
    micall/tests/microtest/reverse_and_complement.py: E126
    micall/tests/microtest/translate_nuc.py: E126
    micall/tests/svg_differ.py: E126,F541
    micall/tests/test_align_it_gotoh.py: E261,E262,E225,E303,E501,W292
    micall/tests/test_aln2counts_report.py: W504,F401
    micall/tests/test_aln2counts_seed_amino.py: W293
    micall/tests/test_aln2counts_seed_nucleotide.py: W293
    micall/tests/test_cigar_tools.py: E704,W503
    micall/tests/test_consensus_aligner.py: F841,E126,W504,E701,F401
    micall/tests/test_contig_stitcher.py: W503
    micall/tests/test_error_metrics_parser.py: E231
    micall/tests/test_fastq_g2p.py: W293
    micall/tests/test_hcv_reference_tree.py: W293
    micall/tests/test_hcv_rules_import.py: E241
    micall/tests/test_kive_watcher.py: W504,E126,E127,F841
    micall/tests/test_plot_contigs.py: E303
    micall/tests/test_primer_tracker.py: F401
    micall/tests/test_projects_dump.py: W504
    micall/tests/test_quality_metrics_parser.py: E231
    micall/tests/test_remap.py: F541
    micall/tests/test_resistance.py: W504
    micall/tests/test_report_amino.py: W292
    micall/tests/test_sam2aln.py: E121
    micall/tests/test_sample.py: F401
    micall/tests/test_sample_sheet_parser.py: E123
    micall/tests/test_tile_metrics_parser.py: E231
    micall/tests/test_trim_fastqs.py: E121,E123
    micall/tests/test_update_qai.py: E127
    micall/utils/aln2counts_simplify.py: F401,E261,E126,F821
    micall/utils/big_counter.py: W293
    micall/utils/cigar_tools.py: E704
    micall/utils/compare_454_samples.py: W504,E305
    micall/utils/compare_mapping.py: W504,F841
    micall/utils/concordance_evaluation.py: E303
    micall/utils/consensus_aligner.py: W504,W293,E126,E303,F401,E261,E252
    micall/utils/conseq_compare.py: F811,E305,W503,F841,F401
    micall/utils/contig_summary.py: W504
    micall/utils/coverage_data.py: W504
    micall/utils/dd.py: E711,W504,E211,E303
    micall/utils/fetch_sequences.py: W504,E126,E303,E265
    micall/utils/find_chimera.py: W504
    micall/utils/find_reads_in_sam.py: F401,W293,F841
    micall/utils/hcv_reference_tree.py: W504
    micall/utils/hcv_rules_import.py: W503,W504,E126,E241
    micall/utils/make_fda_refs.py: E211,E261,W293,W292
    micall/utils/make_hcv_genotype_refs.py: E999
    micall/utils/primer_checks.py: E303,F541
    micall/utils/primer_tracker.py: F541
    micall/utils/projects_dump.py: W504
    micall/utils/ref_aligner.py: F541
    micall/utils/reference_distances.py: E305
    micall/utils/report_amino.py: W504
    micall/utils/sam_g2p_simplify.py: W293,E265,E303,E305
    micall/utils/sample_fastq.py: E305
    micall/utils/sample_sheet_parser.py: E275,W504
    micall/utils/scan_run_folders.py: W504
    micall/utils/v3loop_alignment_scores/plot.py: W293
