/micall_logging_override.py
/micall/monitor/HIV1_COM_2015_genome_DNA.csv
/micall/monitor/compare_454_samples.csv
/micall/monitor/compare_454_samples.png
/micall/alignment/build
/micall/alignment/dist
/micall/alignment/gotoh.egg-info
/consensus_diffs*.svg
/consensus_distances*.svg
/build
/dist
*.pyc
*.o
*.so
*.fai
*~
/*.bsfs.json
.cache
.coverage
.pytest_cache
/.idea
/micall/tests/working/*
/micall/tests/microtest/Results
!/micall/tests/working/*.launch
/micall-*.simg
/timing.*
.DS_Store
*/.DS_Store
*.log
/test_samples.csv