/micall/settings.py
/micall/monitor/hostfile
/micall/alignment/build
/micall/alignment/dist
/micall/alignment/gotoh.egg-info
/build
/dist
*.pyc
*.o
*.so
*.fai
*~
/micall/tests/working/*
!/micall/tests/working/*.launch
*.bt2
.DS_Store
*/.DS_Store
*.log
