# Requirements for running the bare pipeline under Kive or BaseSpace
pytz==2021.3
git+https://github.com/cfe-lab/iva.git@v1.1.1
biopython==1.79
git+https://github.com/cfe-lab/MiCall.git@v7.7.0#egg=gotoh&subdirectory=micall/alignment
git+https://github.com/cfe-lab/pyvdrm.git@v0.3.1
numpy==1.21.4
scipy==1.7.1
matplotlib==3.4.3
cutadapt==3.5
python-Levenshtein==0.12.2
PyYAML==6.0
reportlab==3.6.2
pysam==0.17.0
git+https://github.com/cfe-lab/genetracks.git@v0.2.dev0
mappy==2.22
