# Requirements for running the tests, doing development, and using utilities
-r requirements-test.txt
-r requirements-watcher.txt
# Used for plotting profiling results.
gprof2dot==2024.6.6
mypy==1.10.0
mypy-extensions==1.0.0
