# Requirements for running the bare pipeline under Kive or BaseSpace
pytz==2024.1
git+https://github.com/cfe-lab/iva.git@v1.1.1
biopython==1.83
git+https://github.com/cfe-lab/gotoh.git@v0.3.0#egg=gotoh&subdirectory=alignment/gotoh
git+https://github.com/cfe-lab/pyvdrm.git@v0.3.2
numpy==1.24.3
scipy==1.13.0
matplotlib==3.7.3
cutadapt==4.8
python-Levenshtein==0.25.1
PyYAML==6.0.1
reportlab==4.1.0
pysam==0.22.0
git+https://github.com/cfe-lab/genetracks.git@v0.4
mappy==2.17
drawsvg==2.3.0
cairosvg==2.7.1
git+https://github.com/cfe-lab/aligntools.git@v1.0.2
