# Requirements for running the tests

-r requirements.txt
-r requirements-watcher.txt
pytest==7.4.0
coverage==7.2.7
pandas==2.0.2
seaborn==0.12.2
ete3
flake8==7.0.0

# For reading HCV rules from an Excel file.
openpyxl==3.1.2
