# Requirements for running the tests

-r requirements.txt
-r requirements-watcher.txt
pytest==3.5.0
coverage==4.3.4
pandas==0.21.0
seaborn==0.9.0
ete3

# For reading HCV rules from an Excel file.
openpyxl==2.5.0
