# Requirements for running the tests

-r requirements.txt
-r requirements-watcher.txt
pytest==7.2.1
coverage==7.0.5
pandas==1.5.3
seaborn==0.12.2
ete3

# For reading HCV rules from an Excel file.
openpyxl==3.0.10
