{% comment %}

    Summary report for MiCall.
   
{% endcomment %}
<!doctype html>
<html>
<head>
     <title>Summary Report</title>
     <link rel="stylesheet" type="text/css"
        href="https://da1s119xsxmu0.cloudfront.net/libraries/basestrap/1.0.0/css/master.min.css" />
</head>
<body>
    <div class="row-fluid">
        <div class="col-sm-6">
            <section class="bs-panel">
                {% assign quality_file = '' %}
                {% for result in session.results %}
                    {% for file in result.files.where.ends_with['/run_quality.csv'] %}
                        {% assign quality_file = file.name %}
                        <h3>Run Quality</h3>
                        <table class="table bs-table bs-table-justify">
                            <tbody>
                                {% for row in result.files[file].parse.rows %}
                                <tr>
                                    <th title="Percentage of clusters and cycles with Phred scores of at least 30 in forward reads">% Q30 fwd</th>
                                    {% comment %}
                                    This hot mess is needed because we don't have
                                    a rounding operator yet.
                                    {% endcomment %}
                                    {% assign r = row['q30_fwd'] | times: 1000 | plus: 0.5 | modulo: 1 | minus: 0.5 | divided_by: 10 %}
                                    <td>{{ row['q30_fwd'] | times: 100 | minus: r }}</td>
                                </tr>
                                <tr>
                                    <th title="Percentage of clusters and cycles with Phred scores of at least 30 in reverse reads">% Q30 rev</th>
                                    {% assign r = row['q30_rev'] | times: 1000 | plus: 0.5 | modulo: 1 | minus: 0.5 | divided_by: 10 %}
                                    <td>{{ row['q30_rev'] | times: 100 | minus: r }}</td>
                                </tr>
                                <tr>
                                    <th>Cluster density (K/mm<sup>2</sup>)</th>
                                    {% assign r = row['cluster_density'] | plus: 0.5 | modulo: 1 | minus: 0.5 %}
                                    <td>{{ row['cluster_density'] | minus: r }}</td>
                                </tr>
                                <tr>
                                    <th title="Percentage of clusters passing filters over all tiles and cycles">% Clusters passing filters</th>
                                    {% assign r = row['pass_rate'] | times: 1000 | plus: 0.5 | modulo: 1 | minus: 0.5 | divided_by: 10 %}
                                    <td>{{ row['pass_rate'] | times: 100 | minus: r }}</td>
                                </tr>
                                <tr>
                                    <th title="Average error rate over tiles and cycles in forward reads (phiX error count/tile/cycle)">Error rate fwd</th>
                                    {% assign r = row['error_rate_fwd'] | times: 100 | plus: 0.5 | modulo: 1 | minus: 0.5 | divided_by: 100 %}
                                    <td>{{ row['error_rate_fwd'] | minus: r }}</td>
                                </tr>
                                <tr>
                                    <th title="Average error rate over tiles and cycles in reverse reads (phiX error count/tile/cycle)">Error rate rev</th>
                                    {% assign r = row['error_rate_rev'] | times: 100 | plus: 0.5 | modulo: 1 | minus: 0.5 | divided_by: 100 %}
                                    <td>{{ row['error_rate_rev'] | minus: r }}</td>
                                </tr>
                                <tr>
                                    <th title="Average Phred score over all clusters and cycles">Avg quality</th>
                                    {% assign r = row['avg_quality'] | times: 10 | plus: 0.5 | modulo: 1 | minus: 0.5 | divided_by: 10 %}
                                    <td>{{ row['avg_quality'] }}</td>
                                </tr>
                                <tr>
                                    <th title="Average coverage across the best region for each sample">Avg coverage</th>
                                    {% assign r = row['avg_coverage'] | plus: 0.5 | modulo: 1 | minus: 0.5 %}
                                    <td>{{ row['avg_coverage'] | minus: r }}</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    {% endfor %}
                {% endfor %}
                {% if quality_file == '' %}
                    <h3>Warning: Error Rate data not included.</h3>
                {% endif %}
            </section>
            <br/>
            <section class="bs-panel">
                {% for result in session.results %}
                    {% for file in result.files.where.ends_with['/bad_tiles.csv'] %}
                        <h3>Bad Tiles</h3>
                        <table class="table bs-table bs-table-justify">
                            <thead>
                                <tr>
                                    <th>Tile</th><th>Bad Cycles</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for row in result.files[file].parse.rows %}
                                <tr>
                                    <td>{{ row['tile'] }}</td>
                                    <td>{{ row['bad_cycles'] }}</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    {% endfor %}
                {% endfor %}
            </section>
        </div>
    </div>
</body>
</html>
