{% comment %}

    Summary report for MiCall.
   
{% endcomment %}
<!doctype html>
<html>
<head>
     <title>Summary Report</title>
     <link rel="stylesheet" type="text/css"
        href="https://da1s119xsxmu0.cloudfront.net/libraries/basestrap/1.0.0/css/master.min.css" />
</head>
<body>
    <style type="text/css">
    .scosepcol { border-right: 1px solid #000; }
    </style>
    <div class=col-sm-6>
        <section class="bs-panel">
            {% for result in session.results %}
                {% assign amino_file = result.files.where.ends_with[".csv"].first %}
                <h3>Results</h3>
                <table class="table bs-table bs-table-justify">
                <tbody>
                <tr>
                <th title="The amino acid counts for every sample, seed and region"> Amino acid counts </th> <td> <a href="{{ result.files.where.ends_with['amino.csv'].first.href }}"> amino.csv </a> </td>
                </tr><tr>
                <th title="The nucleotide consensus sequence for every sample and region"> Nucleotide consensus sequences</th> <td> <a href="{{ result.files.where.ends_with['conseq.csv'].first.href }}"> conseq.csv </a> </td>
                </tr><tr>
                <th> Look in 'OUTPUT FILES' to see all results</th> <td>  </td>
                </tr>
                </tbody>
                </table>
            {% endfor %}
        </section>
    </div>  
    <div class="row-fluid">
        <div class="col-sm-6">
            <section class="bs-panel">
                {% assign quality_file = '' %}
                {% for result in session.results %}
                    {% for file in result.files.where.ends_with['/run_quality.csv'] %}
                        {% assign quality_file = file.name %}
                        <h3>Run Quality</h3>
                        <table class="table bs-table bs-table-justify">
                            <tbody>
                                {% for row in result.files[file].parse.rows %}
                                <tr>
                                    <th title="Percentage of clusters and cycles with Phred scores of at least 30 in R1 reads">% Q30 read 1</th>
                                    {% comment %}
                                    This hot mess is needed because we don't have
                                    a rounding operator yet.
                                    {% endcomment %}
                                    {% assign r = row['q30_fwd'] | times: 1000 | plus: 0.5 | modulo: 1 | minus: 0.5 | divided_by: 10 %}
                                    <td>{{ row['q30_fwd'] | times: 100 | minus: r }}</td>
                                </tr>
                                <tr>
                                    <th title="Percentage of clusters and cycles with Phred scores of at least 30 in R2 reads">% Q30 read 2</th>
                                    {% assign r = row['q30_rev'] | times: 1000 | plus: 0.5 | modulo: 1 | minus: 0.5 | divided_by: 10 %}
                                    <td>{{ row['q30_rev'] | times: 100 | minus: r }}</td>
                                </tr>
                                <tr>
                                    <th>Cluster density (K/mm<sup>2</sup>)</th>
                                    {% assign r = row['cluster_density'] | plus: 0.5 | modulo: 1 | minus: 0.5 %}
                                    <td>{{ row['cluster_density'] | minus: r }}</td>
                                </tr>
                                <tr>
                                    <th title="Percentage of clusters passing filters over all tiles and cycles">% Clusters passing filters</th>
                                    {% assign r = row['pass_rate'] | times: 1000 | plus: 0.5 | modulo: 1 | minus: 0.5 | divided_by: 10 %}
                                    <td>{{ row['pass_rate'] | times: 100 | minus: r }}</td>
                                </tr>
                                <tr>
                                    <th title="Average error rate over tiles and cycles in R1 reads (phiX error count/tile/cycle)">% Error read 1</th>
                                    {% assign r = row['error_rate_fwd'] | times: 100 | plus: 0.5 | modulo: 1 | minus: 0.5 | divided_by: 100 %}
                                    <td>{{ row['error_rate_fwd'] | minus: r }}</td>
                                </tr>
                                <tr>
                                    <th title="Average error rate over tiles and cycles in R2 reads (phiX error count/tile/cycle)">% Error read 2</th>
                                    {% assign r = row['error_rate_rev'] | times: 100 | plus: 0.5 | modulo: 1 | minus: 0.5 | divided_by: 100 %}
                                    <td>{{ row['error_rate_rev'] | minus: r }}</td>
                                </tr>
                                <tr>
                                    <th title="Average Phred score over all clusters and cycles">Avg quality</th>
                                    {% assign r = row['avg_quality'] | times: 10 | plus: 0.5 | modulo: 1 | minus: 0.5 | divided_by: 10 %}
                                    <td>{{ row['avg_quality'] | minus: r }}</td>
                                </tr>
                                <tr>
                                    <th title="Average coverage across the best region for each sample">Avg coverage</th>
                                    {% assign r = row['avg_coverage'] | plus: 0.5 | modulo: 1 | minus: 0.5 %}
                                    <td>{{ row['avg_coverage'] | minus: r }}</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    {% endfor %}
                {% endfor %}
                {% if quality_file == '' %}
                    <h3>Warning: Error Rate data not included.</h3>
                {% endif %}
            </section>
            <br/>
            <section class="bs-panel">
                {% for result in session.results %}
                    {% for file in result.files.where.ends_with['/bad_tiles.csv'] %}
                        <h3>Bad Tiles</h3>
                        {% assign tile_data = result.files[file].parse.to_array %}
                        {% assign tile_row_count = tile_data | size | divided_by: 2 %}
                        {% assign last_tile_row = tile_row_count | minus: 1 %}
                        <table class="table bs-table">
                            <thead>
                                <tr>
                                    <th align="right">Tile side 1</th><th align="right" class="scosepcol">Bad Cycles</th>
                                    <th align="right">Tile side 2</th><th align="right">Bad Cycles</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for i in (0..last_tile_row) %}
                                    {% assign j = i | plus: tile_row_count %}
                                    <tr>
                                        <td align="right" class="scosepcol">{{ tile_data[i][0] }}</td>
                                        <td align="right" class="scosepcol">{{ tile_data[i][1] }}</td>
                                        <td align="right" class="scosepcol">{{ tile_data[j][0] }}</td>
                                        <td align="right" class="scosepcol">{{ tile_data[j][1] }}</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    {% endfor %}
                {% endfor %}
            </section>
        </div>
    </div>
</body>
</html>

